{% extends "base_sample.html" %}

{% block title %}
Anggota Form

{% endblock title %}

{% block tittleContent %}
Form Anggota
{% endblock tittleContent %}



{% block contents %}

<div class="container">


<form action="" method="post">
 {% csrf_token %}

<div class="form-group">
    <label for="exampleInputEmail1">Nama</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Nama">
    {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nomor Kartu</label>
    <input type="text" name="pan_number" class="form-control" id="exampleInputPassword1" placeholder="Nomer Kartu">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  
    
</div>
{% endblock contents %}


{% block externalFooter %}



{% if status_req == 1 %}
<script>
 Swal.fire({
  title: "data berhasil di tambah",
  icon: "success",
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "oke"
}).then((result) => {
  if (result.isConfirmed) {
    window.location = "/anggota/";
  }
});
  setTimeout(function() {
    window.location = "/anggota/";
          // Your code to be executed after the delay
          //  location.reload(true); 
      }, 2000);
  </script>
  {% elif  status_req == 2%}
  <script>
    Swal.fire({
     title: "data gagal di tambah",
     icon: "error",
     confirmButtonColor: "#3085d6",
     cancelButtonColor: "#d33",
     confirmButtonText: "oke"
   }).then((result) => {
     if (result.isConfirmed) {
       window.location = "/anggota/tambah-anggota";
     }
   });
     setTimeout(function() {
       window.location = "/anggota/tambah-anggota";
             // Your code to be executed after the delay
             //  location.reload(true); 
         }, 2000);
     </script>


{% endif %}


{% endblock externalFooter %}
